.custom-toast-container .Toastify__toast {
  background-color: #444;
  color: white; 
  border:2px solid purple
}
/* 
.custom-toast-container .Toastify__toast--success {
  color: #fff;
}

.custom-toast-container .Toastify__toast--error {
  color: #fff;
} */

/* .custom-toast-container .Toastify__progress-bar {
} */
